@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.aboutUs {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  bottom:0px;
  background-image: url("../../assets/images/coffeeMan.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  padding: 170px;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2;
  font-weight: bold;
}

.aboutContent h1 {
  color: #48321d;
  line-height: 2.5;
  font-size: 40px;
  font-family: "Roboto Slab", serif;
 
}

.aboutContent p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  color: #707070;
}

